PORT=5000
MONGO_URI=mongodb://piyushojekar68_db_user:42EYbu0hokFckRf5@ac-pape5ip-shard-00-00.gfofws3.mongodb.net:27017,ac-pape5ip-shard-00-01.gfofws3.mongodb.net:27017,ac-pape5ip-shard-00-02.gfofws3.mongodb.net:27017/?ssl=true&replicaSet=atlas-10ph8l-shard-0&authSource=admin&appName=Cluster0